* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #143D59;
}

body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    justify-content: right !important;
    align-items: center !important;
}

.container2 {
    display: block;
    background-color: #F4B41A;
    padding: 1rem;
    border-radius: .5rem;
    width: 1200px;
    max-width: 90%;
}

.timer {
    
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #F4B41A;
    font-weight: bold;
    
    display: none; /*hide timer*/
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: left !important;
    justify-content: left !important;
    top: 12rem;
    margin-top: 3rem;
}

.wpm {
    font-size: 2rem;
    color: #F4B41A;
    font-weight: bold;
    margin-bottom: 3rem;
}

.new-quote {
    font-size: 2rem;
    background-color: #F4B41A !important;
    color: #143D59!important;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc (1rem + 2px);
    font-size: 1.3rem;
}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

.quote-input:focus {
    border-color: #143D59;
}


.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}
    